$primary-color: rgb(118, 200, 255);
$primary-text-color: rgb(105, 105, 105);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(51, 51, 51);
    font-size: 50px;
    font-weight: 500;
    font-size: 55px;
}

h2 {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(51, 51, 51);
    font-size: 50px;
    font-weight: 500;
    font-size: 55px;
}

hr {
    height: 3px;
    background-color: $primary-color;
    margin: 0;
}

a {
    text-decoration: none;
}

.screen,
.screen-1,
.screen-2 {
    position: fixed;
    top: -10px;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1s;
    transition-delay: 1s;
    opacity: 1;
}

.screen {
    top: -20%;
    bottom: -80%;
    background-color: $primary-color;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 102;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 48%;
        position: relative;
        opacity: 1;
    }
}

.screen-1 {
    right: -40%;
    background-color: rgb(130, 220, 255);
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 101;
}

.screen-2 {
    left: -40%;
    background-color: rgb(204, 244, 255);
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    z-index: 100;
}

.screen.screen-open {
    bottom: 100%;
    opacity: 0.8;
}

.screen-1.screen-open {
    right: 100%;
    opacity: 0.8;
}

.screen-2.screen-open {
    left: 100%;
    opacity: 0.8;
}

header {
    width: 80%;
    height: 35px;
    margin: auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    aside {
        width: 55px;
        cursor: pointer;
        img {
            width: 100%;
            border-radius: 50%;
            border: 2px solid $primary-color;
            padding: 5px;
            transition: 0.2s;
            &:hover {
                box-shadow: 0 0 20px rgb(42, 248, 255);
            }
        }
    }
    .menu-bar {
        width: 45%;
        display: flex;
        justify-content: space-between;
        transition: 0.35s all ease;
        list-style: none;
        p {
            cursor: pointer;
        }
        a {
            color: $primary-text-color;
            padding: 5px 10px;
            &:hover {
                border-bottom: 3px solid $primary-color;
            }
        }
    }
    .hamburger {
        display: none;
    }
}

.bg-cover {
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    img {
        width: 100%;
    }
}

.cover.open {
    opacity: 1;
}

.cover {
    max-width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: -60px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    opacity: 0;
    transition: 1s;
    transition-delay: 2s;
    aside {
        h1 {
            font-size: 55px;
            margin-bottom: 10px;
            margin-left: -4px;
            line-height: 65px;
            font-weight: bold;
            color: rgb(51, 51, 51);
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }
        p {
            font-size: 20px;
            font-weight: 500;
        }
        hr {
            margin: 25px 0;
        }
        button {
            width: 100%;
            background-color: $primary-color;
            padding: 10px 15px;
            border-radius: 15px;
            color: white;
            border: none;
            margin-top: 24px;
            font-weight: bold;
            font-size: 16px;
            box-shadow: 2px 3px 8px gray;
            cursor: pointer;
            transition: 0.2s;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            &:hover {
                background: white;
                color: $primary-color;
                box-shadow: 0 0 15px $primary-color;
            }
        }
        .contact {
            margin: 10px 0;
            p {
                display: flex;
                align-items: center;
                font-weight: 300;
                font-size: 16px;
                margin-bottom: 10px;
                color: $primary-text-color;
            }
            img {
                width: 25px;
                margin-right: 15px;
            }
        }
    }
}

.logo-gambar {
    position: relative;
    max-width: 40vh;
    padding-left: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    .bg-gambar {
        width: 37vh;
        height: 37vh;
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        top: 20px;
        left: 60px;
    }
    img {
        width: 38vh;
        height: 38vh;
        border-radius: 50%;
        border: 5px solid rgb(245, 245, 245);
        position: relative;
        z-index: 1;
        transition: 0.5s;
        margin-right: 10px;
    }
    // img.slide {
    //     transform: translateX(-105%);
    // }
}

.about {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .circle {
        position: absolute;
        background-color: rgba(118, 200, 255, 0.2);
        width: 100vh;
        height: 100vh;
        border-radius: 50%;
        left: -40%;
        z-index: -1;
    }
    .plus {
        opacity: 0.2;
        position: absolute;
        width: 30vh;
        top: 5%;
        left: 0%;
        z-index: -1;
        img {
            width: 100%;
        }
    }
    // transition vanilla
    .appear-effect {
        transform: translateX(0%);
        opacity: 1 !important;
    }
    aside {
        width: 45%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.8s;
        h1 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
            color: $primary-text-color;
            font-size: 16px;
        }
        hr {
            margin-top: 30px;
        }
        .slogan {
            margin-top: 10px;
            font-style: italic;
            font-weight: 500;
            color: $primary-color !important;
        }
    }
    .photo-profil {
        max-width: 40vh;
        opacity: 0;
        transition: 0.8s;
        border: 5px solid $primary-color;
        border-radius: 15px;
        img {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            animation: move 5s linear infinite;
        }
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px);
    }
}

.deskripsi {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    .grid-deskripsi {
        margin: auto;
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $primary-color;
        position: relative;
        z-index: 1;
        ul {
            img {
                width: 40px;
                margin: 10px 10px;
            }
        }
    }
    h1 {
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        margin: 0 !important;
        color: white !important;
    }
    p {
        font-size: 16px;
        text-align: center;
        max-width: 520px;
        margin: 30px auto;
        color: white !important;
        padding: 0 20px;
    }
    .seeking {
        position: absolute;
        top: -166px;
        left: 10%;
    }
    .skill {
        display: flex;
        flex-direction: column;
        ul {
            max-width: 300px;
            margin: auto;
            list-style: none;
            font-size: 17px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .wearebear {
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        text-align: center;
    }
}

.wearebear {
    img {
        width: 55vh;
    }
}

.education {
    height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    .gunungan {
        width: 400px;
        position: absolute;
        right: 0;
        bottom: 0px;
        opacity: 0.5;
        img {
            width: 100%;
        }
    }
}

.unindra {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 1;
    aside {
        margin-right: 8%;
        h1 {
            font-size: 50px;
            font-weight: 500;
            color: rgb(51, 51, 51);
            font-size: 55px;
        }
        hr {
            margin-top: 20px;
        }
        h2 {
            font-size: 20px;
            color: rgb(51, 51, 51);
            font-weight: 500;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .gambar {
        max-width: 80vh;
        position: relative;
        ul {
            position: absolute;
            bottom: 0;
            left: -38px;
            list-style: none;
            img {
                width: 28px;
                margin-bottom: 10px;
                padding: 0 !important;
            }
        }
        img {
            width: 100%;
            border-radius: 20px;
            opacity: 0.9;
            border: 5px solid $primary-color;
            padding: 5px;
        }
    }
    h2 {
        margin: 0;
    }
}

footer {
    max-width: 100%;
    min-height: 40vh;
    margin: auto;
    margin-top: 50px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px;
    button {
        margin: 20px 0;
        border: 5px solid white;
        padding: 8px 10px;
        color: white;
        font-weight: 300;
        font-size: 20px;
        transition: 0.2s;
        cursor: pointer;
        background-color: transparent;
    }
    button:hover {
        color: $primary-color;
        background-color: white;
    }
    p {
        font-style: italic;
        color: $primary-text-color;
        bottom: 2px;
        font-size: 13px;
    }
    ul {
        opacity: 0.85;
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 39%;
        li {
            margin-left: 10px;
            color: $primary-text-color;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
    form {
        margin: 20px 0;
        height: 0px;
        overflow: hidden;
        transition: 0.5s;
        input {
            width: 300px;
            height: 30px;
            margin: 5px 0;
            padding: 10px;
        }
        button {
            font-size: 15px;
            border: 3px solid white;
            padding: 2px 5px;
            margin-top: 0;
        }
    }
    form.open {
        height: 120px;
    }
}

@media screen and (max-width: 1024px) {
    header {
        position: relative;
        z-index: 10;
    }
    .cover {
        height: 100vh;
        max-width: 90%;
        position: relative;
        aside {
            h1 {
                font-size: 45px;
            }
        }
    }
    .unindra {
        justify-content: flex-start;
        flex-wrap: wrap;
        .gambar {
            ul {
                position: absolute;
                bottom: 0;
                left: 530px;
                list-style: none;
                z-index: 10;
                img {
                    width: 40px;
                }
            }
        }
    }
    .deskripsi {
        height: 100vh;
        margin: 20px 0;
        .seeking {
            left: 5%;
            top: -165px;
            width: 30vh;
        }
    }
    .education {
        .unindra {
            h1 {
                font-size: 45px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: 50px;
        aside {
            h1 {
                font-size: 35px;
            }
        }
    }
    .about {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        overflow-x: hidden;
        aside {
            width: 80%;
            margin-top: 15%;
            margin: auto;
        }
        .photo-profil {
            margin: auto;
            max-width: 25vh;
            margin-top: -30px;
        }
    }
    footer {
        ul {
            width: 60%;
        }
    }
}

@media screen and (max-width: 720px) {
    .bg-cover {
        &::before {
            content: '';
            display: block;
            background-color: $primary-color;
            height: 200px;
            width: 100%;
        }
        top: 0px;
    }
    header {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 90%;
        aside {
            width: 50px;
        }
        .menu-bar {
            position: fixed;
            width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $primary-color;
            z-index: 10;
            transform: translateX(100%);
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            p {
                border-bottom: 0;
            }
            a {
                color: white;
            }
        }
        .hamburger {
            width: 50px;
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            padding: 5px 10px;
            cursor: pointer;
            position: relative;
            z-index: 11;
            position: fixed;
            top: 2vh;
            right: 3vh;
            .top {
                width: 100%;
                height: 3px;
                background-color: rgb(68, 174, 245);
            }
            .middle {
                width: 60%;
            }
            .bottom {
                width: 30%;
            }
        }
    }
    .middle {
        width: 100%;
        height: 3px;
        background-color: rgb(68, 174, 245);
    }
    .bottom {
        width: 100%;
        height: 3px;
        background-color: rgb(68, 174, 245);
    }
    .open {
        transform: translateX(0) !important;
    }
    .changeColor {
        background-color: white !important;
    }
    .cover {
        height: 90vh;
        margin-top: 0px;
        flex-direction: column;
        justify-content: center;
        overflow: visible;
        aside {
            width: 100%;
            order: 2;
            margin: 0;
            ul {
                display: none;
            }
            h1 {
                font-size: 40px;
                text-align: center;
            }
            p {
                font-size: 18px;
            }
        }
    }
    .logo-gambar {
        min-width: 0;
        order: 1;
        margin-top: -13vh;
        img {
            width: 200px;
            height: 200px;
        }
        .bg-gambar {
            display: none;
        }
    }
    .about {
        .photo-profil {
            margin-top: 0px;
        }
    }
    .deskripsi {
        .seeking {
            top: -127px;
            width: 150px;
        }
    }
    .education {
        .gunungan {
            width: 300px;
        }
    }
}

@media screen and (max-width:444px) {
    .cover {
        aside {
            h1 {
                font-size: 30px;
                padding: 0;
            }
            p {
                font-size: 15px;
                font-weight: 300;
                margin: 0;
            }
            h2 {
                padding: 5px 8px;
            }
            .contact {
                p {
                    font-size: 13px;
                }
            }
        }
    }
    .logo-gambar {
        img {
            width: 150px;
            height: 150px;
        }
    }
    .about {
        .plus {
            top: 60%;
            left: 5%;
            width: 20vh;
        }
        aside {
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 13px;
            }
        }
        .photo-profil {
            margin-top: -30px;
        }
    }
    .deskripsi {
        margin-bottom: 50px;
        min-height: 100vh;
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 14px;
        }
        .seeking {
            top: -110px;
            width: 130px;
        }
    }
    .education {
        width: 90%;
        margin-top: -100px;
        .unindra {
            h1 {
                font-size: 30px;
            }
            p {
                font-size: 15px;
            }
        }
    }
    footer {
        button {
            font-size: 18px;
        }
        p {
            font-size: 14px;
            text-align: center;
            bottom: 10px;
        }
    }
}

@media screen and (max-width: 328px) {
    .cover {
        margin-top: -10px;
        aside {
            h1 {
                font-size: 26px;
                padding: 0;
            }
        }
    }
    footer {
        button {
            font-size: 17px;
        }
        p {
            margin-top: 20px;
            font-size: 13px;
        }
        form {
            input {
                width: 225px;
            }
        }
    }
}