* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Poppins', sans-serif !important;
  color: #333333;
  font-size: 50px;
  font-weight: 500;
  font-size: 55px;
}

h2 {
  font-family: 'Poppins', sans-serif !important;
  color: #333333;
  font-size: 50px;
  font-weight: 500;
  font-size: 55px;
}

hr {
  height: 3px;
  background-color: #76c8ff;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  width: 80%;
  height: 35px;
  margin: auto;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header aside {
  width: 55px;
  cursor: pointer;
}

header aside img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #76c8ff;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header aside img:hover {
  -webkit-box-shadow: 0 0 20px #2af8ff;
          box-shadow: 0 0 20px #2af8ff;
}

header .menu-bar {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.35s all ease;
  transition: 0.35s all ease;
  list-style: none;
}

header .menu-bar p {
  cursor: pointer;
}

header .menu-bar a {
  color: dimgray;
  padding: 5px 10px;
}

header .menu-bar a:hover {
  border-bottom: 3px solid #76c8ff;
}

header .hamburger {
  display: none;
}

.bg-cover {
  position: absolute;
  top: -60px;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.bg-cover img {
  width: 100%;
}

.cover {
  max-width: 80%;
  height: 100vh;
  margin: auto;
  margin-top: -60px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.cover aside h1 {
  font-size: 55px;
  margin-bottom: 10px;
  margin-left: -4px;
  line-height: 65px;
  font-weight: bold;
  color: #333333;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.cover aside p {
  font-size: 20px;
  font-weight: 500;
}

.cover aside hr {
  margin: 25px 0;
}

.cover aside ul {
  list-style: none;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cover aside ul li {
  margin-left: 10px;
  margin-bottom: 6px;
  color: dimgray;
}

.cover aside ul li img {
  width: 40px;
  height: 40px;
}

.cover aside button {
  width: 100%;
  background-color: #76c8ff;
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  border: none;
  margin-top: 24px;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-shadow: 2px 3px 8px gray;
          box-shadow: 2px 3px 8px gray;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.cover aside button:hover {
  background: white;
  color: #76c8ff;
  -webkit-box-shadow: 0 0 15px #76c8ff;
          box-shadow: 0 0 15px #76c8ff;
}

.cover aside .contact {
  margin: 10px 0;
}

.cover aside .contact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
  color: dimgray;
}

.cover aside .contact img {
  width: 25px;
  margin-right: 15px;
}

.logo-gambar {
  position: relative;
  min-width: 50vh;
  padding-left: 10px;
}

.logo-gambar .bg-gambar {
  width: 37vh;
  height: 37vh;
  border-radius: 50%;
  background-color: #76c8ff;
  position: absolute;
  top: 20px;
  left: 60px;
}

.logo-gambar img {
  width: 38vh;
  height: 38vh;
  border-radius: 50%;
  border: 5px solid whitesmoke;
  position: relative;
  z-index: 1;
}

.about {
  width: 80%;
  min-height: 100vh;
  margin: auto;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about .circle {
  position: absolute;
  background-color: rgba(118, 200, 255, 0.2);
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  left: -40%;
  z-index: -1;
}

.about .plus {
  opacity: 0.2;
  position: absolute;
  width: 30vh;
  top: 5%;
  left: 0%;
  z-index: -1;
}

.about .plus img {
  width: 100%;
}

.about aside {
  width: 45%;
}

.about aside h1 {
  margin-bottom: 20px;
}

.about aside p {
  margin-bottom: 10px;
  color: dimgray;
  font-size: 16px;
}

.about aside hr {
  margin-top: 30px;
}

.about aside .slogan {
  margin-top: 10px;
  font-style: italic;
  font-weight: 500;
  color: #76c8ff !important;
}

.about .photo-profil {
  max-width: 40vh;
}

.about .photo-profil img {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #76c8ff;
  border-radius: 15px;
}

.deskripsi {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.deskripsi .grid-deskripsi {
  margin: auto;
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #76c8ff;
  position: relative;
  z-index: 1;
}

.deskripsi .grid-deskripsi ul img {
  width: 40px;
  margin: 10px 10px;
}

.deskripsi h1 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin: 0 !important;
  color: white !important;
}

.deskripsi p {
  font-size: 16px;
  text-align: center;
  max-width: 520px;
  margin: 30px auto;
  color: white !important;
  padding: 0 20px;
}

.deskripsi .seeking {
  position: absolute;
  top: -166px;
  left: 10%;
}

.deskripsi .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.deskripsi .skill ul {
  max-width: 300px;
  margin: auto;
  list-style: none;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.deskripsi .wearebear {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
}

.wearebear img {
  width: 55vh;
}

.education {
  height: 90vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.education .gunungan {
  width: 400px;
  position: absolute;
  right: 0;
  bottom: 0px;
  opacity: 0.5;
}

.education .gunungan img {
  width: 100%;
}

.unindra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.unindra aside {
  margin-right: 8%;
}

.unindra aside h1 {
  font-size: 50px;
  font-weight: 500;
  color: #333333;
  font-size: 55px;
}

.unindra aside hr {
  margin-top: 20px;
}

.unindra aside h2 {
  font-size: 20px;
  color: #333333;
  font-weight: 500;
}

.unindra aside p {
  font-size: 16px;
  margin-bottom: 20px;
}

.unindra .gambar {
  max-width: 80vh;
  position: relative;
}

.unindra .gambar ul {
  position: absolute;
  bottom: 0;
  left: -38px;
  list-style: none;
}

.unindra .gambar ul img {
  width: 28px;
  margin-bottom: 10px;
  padding: 0 !important;
}

.unindra .gambar img {
  width: 100%;
  border-radius: 20px;
  opacity: 0.9;
  border: 5px solid #76c8ff;
  padding: 5px;
}

.unindra h2 {
  margin: 0;
}

footer {
  max-width: 100%;
  min-height: 40vh;
  margin: auto;
  margin-top: 50px;
  background-color: #76c8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 20px;
}

footer button {
  border: 5px solid white;
  padding: 8px 10px;
  color: white;
  font-weight: 300;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  background-color: transparent;
}

footer button:hover {
  color: #76c8ff;
  background-color: white;
}

footer p {
  font-style: italic;
  color: dimgray;
  bottom: 2px;
}

footer ul {
  opacity: 0.85;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 39%;
}

footer ul li {
  margin-left: 10px;
  color: dimgray;
}

footer ul li img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  header {
    position: relative;
    z-index: 10;
  }
  .cover {
    height: 100vh;
    max-width: 90%;
    position: relative;
  }
  .cover aside h1 {
    font-size: 45px;
  }
  .unindra {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .unindra .gambar ul {
    position: absolute;
    bottom: 0;
    left: 530px;
    list-style: none;
    z-index: 10;
  }
  .unindra .gambar ul img {
    width: 40px;
  }
  .deskripsi {
    height: 100vh;
    margin: 20px 0;
  }
  .deskripsi .seeking {
    left: 5%;
    top: -165px;
    width: 30vh;
  }
  .education .unindra h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 50px;
  }
  .cover aside h1 {
    font-size: 35px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    overflow-x: hidden;
  }
  .about aside {
    width: 80%;
    margin-top: 15%;
    margin: auto;
  }
  .about .photo-profil {
    margin: auto;
    max-width: 25vh;
    margin-top: -30px;
  }
}

@media screen and (max-width: 720px) {
  .bg-cover {
    top: 0px;
  }
  .bg-cover::before {
    content: '';
    display: block;
    background-color: #76c8ff;
    height: 200px;
    width: 100%;
  }
  header {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
  }
  header aside {
    width: 50px;
  }
  header .menu-bar {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #76c8ff;
    z-index: 10;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
  header .menu-bar p {
    border-bottom: 0;
  }
  header .menu-bar a {
    color: white;
  }
  header .hamburger {
    width: 50px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 11;
    position: fixed;
    top: 2vh;
    right: 3vh;
  }
  header .hamburger .top {
    width: 100%;
    height: 3px;
    background-color: #44aef5;
  }
  header .hamburger .middle {
    width: 60%;
  }
  header .hamburger .bottom {
    width: 30%;
  }
  .middle {
    width: 100%;
    height: 3px;
    background-color: #44aef5;
  }
  .bottom {
    width: 100%;
    height: 3px;
    background-color: #44aef5;
  }
  .open {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  .changeColor {
    background-color: white !important;
  }
  .cover {
    height: 90vh;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: visible;
  }
  .cover aside {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .cover aside ul {
    display: none;
  }
  .cover aside h1 {
    font-size: 40px;
    text-align: center;
  }
  .cover aside p {
    font-size: 18px;
  }
  .logo-gambar {
    min-width: 0;
    height: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: -13vh;
  }
  .logo-gambar img {
    width: 200px;
    height: 200px;
  }
  .logo-gambar .bg-gambar {
    display: none;
  }
  .about .photo-profil {
    margin-top: 0px;
  }
  .deskripsi .seeking {
    top: -127px;
    width: 150px;
  }
  .education .gunungan {
    width: 300px;
  }
}

@media screen and (max-width: 444px) {
  .cover aside h1 {
    font-size: 30px;
    margin-top: -50px;
    padding: 0;
  }
  .cover aside p {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
  }
  .cover aside h2 {
    padding: 5px 8px;
  }
  .cover aside .contact p {
    font-size: 12px;
  }
  .logo-gambar img {
    width: 150px;
    height: 150px;
  }
  .about .plus {
    top: 60%;
    left: 5%;
    width: 20vh;
  }
  .about aside h1 {
    font-size: 40px;
  }
  .about aside p {
    font-size: 14px;
  }
  .about .photo-profil {
    margin-top: -30px;
  }
  .deskripsi {
    margin-bottom: 50px;
    min-height: 100vh;
  }
  .deskripsi h1 {
    font-size: 40px;
  }
  .deskripsi p {
    font-size: 15px;
  }
  .deskripsi .seeking {
    top: -110px;
    width: 130px;
  }
  .education {
    width: 90%;
    margin-top: -100px;
  }
  .education .unindra h1 {
    font-size: 30px;
  }
  .education .unindra p {
    font-size: 15px;
  }
  footer button {
    font-size: 18px;
  }
  footer p {
    font-size: 14px;
    text-align: center;
    bottom: 10px;
  }
}

@media screen and (max-width: 328px) {
  .cover {
    margin-top: -30px;
  }
  .cover aside h1 {
    font-size: 26px;
    padding: 0;
  }
  footer button {
    font-size: 17px;
  }
  footer p {
    margin-top: 20px;
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */